name: Fetch J_BTC data

on:
  schedule:
    - cron: "0 5 * * *"   # zilnic la 05:00 UTC
  workflow_dispatch:

jobs:
  fetch-data:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m venv .venv
          source .venv/bin/activate
          pip install -r requirements.txt

      - name: Run fetch_all_data
        run: |
          source .venv/bin/activate
          python fetch_all_data.py
